[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pychromecast = "*"
ytmusicapi = "*"
youtube-dl = "*"
yt-dlp = "*"
flask-jwt = "*"
numpy = "*"
librosa = "*"
matplotlib = "*"
pydub = "*"
glob2 = "*"
mutagen = "*"
python-dotenv = "*"

[dev-packages]
black = "==21.11b1"
watchdog = "*"
pyyaml = "*"
argh = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "flask run --port=$PORT --host=0.0.0.0"
start = "gunicorn -c config/gunicorn.py"
watch = "watchmedo tricks-from tricks.yml"
format = "black ."
